/bootstrap/cache/*
/public/hot
/public/js/bundle
/public/images/avatar
/public/images/brands
/public/images/products
/public/images/vendor
/public/js/main.js
/node_modules
/public/storage
/storage/*.key
/storage/tenant*
/storage/framework/sessions
/vendor
.env
.env.backup
composer.lock
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
