@page {
  margin: 0 0;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
  margin-bottom: 10px;
}

a {
  color: #001028;
  text-decoration: none;
}

body {
  padding: .8in 0 100px 0;
  position: relative;
  margin: 0 auto;
  color: #001028;
  background: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 12px;
}

header {
  padding: 10px .8in;
}

main {
  padding: 0 .8in;
}

h1 {
  color: #5D6975;
  font-size: 2.2em;
  line-height: 1.4em;
  font-weight: bold;
  text-align: center;
  margin: 0 0 10px 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 10px;
}

table tr:nth-child(2n-1) td {
  background: #F5F5F5;
}

table th {
  padding: 10px 20px;
  color: #5D6975;
  border-bottom: 1px solid #C1CED9;
  white-space: nowrap;
  font-weight: normal;
}

table td {
  padding: 8px 16px;
}
table td.b-top {
  border-top: 1px solid #C1CED9;
}
.text-right {
  text-align: right;
}

table td.text-right,
table td.text-right,
table td.text-right {
  font-size: 1em;
}

table td.grand {
  border-top: 1px solid #5D6975;;
}

tbody.meta td {
  font-size: 0.8em;
}

#notices .notice {
  color: #5D6975;
  font-size: 1em;
}

footer {
  position: absolute;
  bottom: .8in;
  text-align: center;
  padding: 0 .8in;
}
